
<div style="background-color:aquamarine"> 
      <div>
              <h2 style="text-align: center; font-size: 50px; color: blueviolet;">List Of Courses </h2>
     </div>
            
                 
             
</div>
<br><br>

 


<div align="center"> 
            <h1 style="font-size: 40px;font-style: oblique;color:red;">DAC</h1>
            <button type="button" class="btn btn-primary btn-lg center-block "  (click)="toggle()" id="bt" >
                {{buttonName}}
                    </button>

 <ng-container *ngIf="show">
                 <h3>Eligibility Criteria</h3>
    <div class="card">
        <div class="card-body" style="font-style: italic; color: blueviolet;">
           * Graduate in Engineering in IT / Computer Science / Electronics / Telecommunications / Electrical / Instrumentation. OR MSc/MS in Computer Science, IT, Electronics. 
           * Mathematics in 10+2   OR
           * Graduate in any discipline of Engineering OR
           * Post Graduate Degree in Physics / Mathematics / Statistics OR
             MCA, MCM OR Post Graduate Degree in Management with graduation in IT / Computer Science/Applications
           * The candidates must have secured a minimum of 50% marks in their qualifying examination.
        </div>
    
    </div>
       <br><br>
       <h3>Course Contents</h3>
    <div class="card">
        <div class="card-body" style="font-style: italic; color: blueviolet;">
            1). OOPs with C++ Programming   - 60 Hours  
            2).Algorithm & Data Structures  - 70 Hours  
            3).Advanced Software Development Methodologies  - 90 Hours  
            4).Operating Systems Concepts - 60 Hours  
            5).Advanced Web Programming - 50 Hours  
            6).MEAN Stack - 60 Hours  
            7).Database Technologies - 60 Hours  
            8).Java Technologies-I( Core Java) - 70 Hours  
            9).Java Technologies-II( Web Based Java) - 90 Hours  
            10).Microsoft.Net Technologies - 70 Hours  
            11).Effective Communication - 50 Hours  
            12).Aptitude & General English  - 50 Hours  
            13). Project - 120 Hours  
        </div>
      </div>
        <br><br>
        <h3>Course Fees And Duration</h3>
        <div class="card">
            <div class="card-body" style="font-style: italic; color: blueviolet;">
               * The total fees of the course is Rs. 90,000/- plus Goods and Service Tax (GST) currently 18%.
               * The duration of the whole course in 24 Weeks.
            </div>
          </div>

  </ng-container>

</div>
<div>
    <div align="center"> 
        <h1 style="font-size: 40px;font-style: oblique;color:red;">DBDA</h1>
    <button type="button" class="btn btn-primary btn-lg center-block "  (click)="toggle2()" id="bt" >
        {{buttonName2}}
        </button>
    
     <ng-container *ngIf="show2">
        <h3>Eligibility Criteria</h3>
        <div class="card">
            <div class="card-body" style="font-style: italic; color: blueviolet;">
               * Graduate in Engineering  in IT / Computer Science / Electronics / Telecommunications / Electrical / Instrumentation. OR MSc/MS in Computer Science, IT, Electronics. 
               * Mathematics in 10+2  OR
               * Graduate in any discipline of Engineering OR
               * Post Graduate Degree in Physics / Mathematics / Statistics OR
                 MCA, MCM OR Post Graduate Degree in Management with graduation in IT / Computer Science/Applications
               * The candidates must have secured a minimum of 50% marks in their qualifying examination.
            </div>
          </div>
           <br><br>
           <h3>Course Contents</h3>
        <div class="card">
            <div class="card-body" style="font-style: italic; color: blueviolet;">
                1). OOPs with C++ Programming   - 60 Hours  
                2).Algorithm & Data Structures  - 70 Hours  
                3).Advanced Software Development Methodologies  - 90 Hours  
                4).Operating Systems Concepts - 60 Hours  
                5).Advanced Web Programming - 50 Hours  
                6).MEAN Stack - 60 Hours  
                7).Database Technologies - 60 Hours  
                8).Java Technologies-I( Core Java) - 70 Hours  
                9).Java Technologies-II( Web Based Java) - 90 Hours  
                10).Microsoft.Net Technologies - 70 Hours  
                11).Effective Communication - 50 Hours  
                12).Aptitude & General English  - 50 Hours  
                13). Project - 120 Hours  
            </div>
          </div>
            <br><br>
            <h3>Course Fees And Duration</h3>
            <div class="card">
                <div class="card-body" style="font-style: italic; color: blueviolet;">
                   * The total fees of the course is Rs. 90,000/- plus Goods and Service Tax (GST) currently 18%.
                   * The duration of the whole course in 24 Weeks.
                </div>
              </div>
    
      </ng-container>
<br><br>



<div align="center"> 
    <h1 style="font-size: 40px;font-style: oblique;color:red;">DITISS</h1>
<button type="button" class="btn btn-primary btn-lg center-block "  (click)="toggle3()" id="bt" >
    {{buttonName3}}
    </button>

 <ng-container *ngIf="show3">
    <h3>Eligibility Criteria</h3>
    <div class="card">
        <div class="card-body" style="font-style: italic; color: blueviolet;">
           * Graduate in Engineering  in IT / Computer Science / Electronics / Telecommunications / Electrical / Instrumentation. OR MSc/MS in Computer Science, IT, Electronics. 
           * Mathematics in 10+2  OR
           * Graduate in any discipline of Engineering OR
           * Post Graduate Degree in Physics / Mathematics / Statistics OR
             MCA, MCM OR Post Graduate Degree in Management with graduation in IT / Computer Science/Applications
           * The candidates must have secured a minimum of 50% marks in their qualifying examination.
        </div>
      </div>
       <br><br>
       <h3>Course Contents</h3>
    <div class="card">
        <div class="card-body" style="font-style: italic; color: blueviolet;">
            1). OOPs with C++ Programming   - 60 Hours  
            2).Algorithm & Data Structures  - 70 Hours  
            3).Advanced Software Development Methodologies  - 90 Hours  
            4).Operating Systems Concepts - 60 Hours  
            5).Advanced Web Programming - 50 Hours  
            6).MEAN Stack - 60 Hours  
            7).Database Technologies - 60 Hours  
            8).Java Technologies-I( Core Java) - 70 Hours  
            9).Java Technologies-II( Web Based Java) - 90 Hours  
            10).Microsoft.Net Technologies - 70 Hours  
            11).Effective Communication - 50 Hours  
            12).Aptitude & General English  - 50 Hours  
            13). Project - 120 Hours  
        </div>
      </div>
        <br><br>
        <h3>Course Fees And Duration</h3>
        <div class="card">
            <div class="card-body" style="font-style: italic; color: blueviolet;">
               * The total fees of the course is Rs. 90,000/- plus Goods and Service Tax (GST) currently 18%.
               * The duration of the whole course in 24 Weeks.
            </div>
          </div>

  </ng-container>
<br><br>



<div align="center"> 
    <h1 style="font-size: 40px;font-style: oblique;color:red;">IoT</h1>
<button type="button" class="btn btn-primary btn-lg center-block "  (click)="toggle4()" id="bt" >
    {{buttonName4}}
    </button>

 <ng-container *ngIf="show4">
    <h3>Eligibility Criteria</h3>
    <div class="card">
        <div class="card-body" style="font-style: italic; color: blueviolet;">
           * Graduate in Engineering  in IT / Computer Science / Electronics / Telecommunications / Electrical / Instrumentation. OR MSc/MS in Computer Science, IT, Electronics. 
           * Mathematics in 10+2   OR
           * Graduate in any discipline of Engineering OR
           * Post Graduate Degree in Physics / Mathematics / Statistics OR
             MCA, MCM OR Post Graduate Degree in Management with graduation in IT / Computer Science/Applications
           * The candidates must have secured a minimum of 50% marks in their qualifying examination.
        </div>
      </div>
       <br><br>
       <h3>Course Contents</h3>
    <div class="card">
        <div class="card-body" style="font-style: italic; color: blueviolet;">
            1). OOPs with C++ Programming   - 60 Hours  
            2).Algorithm & Data Structures  - 70 Hours  
            3).Advanced Software Development Methodologies  - 90 Hours  
            4).Operating Systems Concepts - 60 Hours  
            5).Advanced Web Programming - 50 Hours  
            6).MEAN Stack - 60 Hours  
            7).Database Technologies - 60 Hours  
            8).Java Technologies-I( Core Java) - 70 Hours  
            9).Java Technologies-II( Web Based Java) - 90 Hours  
            10).Microsoft.Net Technologies - 70 Hours  
            11).Effective Communication - 50 Hours  
            12).Aptitude & General English  - 50 Hours  
            13). Project - 120 Hours  
        </div>
      </div>
        <br><br>
        <h3>Course Fees And Duration</h3>
        <div class="card">
            <div class="card-body" style="font-style: italic; color: blueviolet;">
               * The total fees of the course is Rs. 90,000/- plus Goods and Service Tax (GST) currently 18%.
               * The duration of the whole course in 24 Weeks.
            </div>
          </div>
 
    
 
  </ng-container>
        
  
     
 