


<div style="background-color:aquamarine"> 
      <div>
        <h1 style="text-align: center; font-size: 50px; color: blueviolet;">Frequently Asked Questions</h1>
     </div>
</div>
<br><br>
<h3>(1).  What is a CDAC course?</h3>
<div class="card">
    <div class="card-body" style="font-style: italic; color: blueviolet;">
        It's a PG diploma course of six months in different sectors related to IT. One of its prime course is DAC(Diploma in advance computing)

        In the tenure of six months they make you industry ready material in which they make you learn programming languages like java, .NET, c# ,web development, MYSql etc.
        
        The best thing about them are, they are more focused on practicals rather than theory.
    </div><br>
    <h3>(2).  What are the CDAC requirements for admission and its course?</h3>
<div class="card">
    <div class="card-body" style="font-style: italic; color: blueviolet;">
        If you are for DAC course then,

        Qualification could be:
        
        Graduate in Engineering or equivalent (e.g. BE / BTech / 4-year BSc / AMIE / DoEACC B Level, etc.) in Electronics/ Computer Science/ IT or related areas,
        OR
        Post Graduate in Engineering Sciences (e.g. MSc in Computer Science, IT, Electronics, etc.), OR Graduate in any discipline of Engineering or equivalent, OR
        MCA, MCM,OR Post Graduate in Physics/ Computational Sciences/ Mathematics or allied areas,OR Post Graduate in Management with graduation degree in Science/ IT/ Computers
        The candidates must have secured a minimum of 50% marks in their qualifying examination.
    </div> <br>
    <h3>(3).  Shall I join CDAC?</h3>
<div class="card">
    <div class="card-body" style="font-style: italic; color: blueviolet;">
        CDAC is a place not only for graduates, entry level freshers or people with non-technical background.
         CDAC, is a well known, reputed institute in India, which not only provides a Diploma Certificate in Advanced Computing, but also opens a number of opportunities for the candidate.
         I am Ex-CDACian, as I completed by CDAC in Feb 2010. Trust me, it’s been more than 7 years, but still, whenever I mention CDAC as part of my academics, I get a different respect and people treat with different perspective.
        I know how you feel right now, as I was also standing on the same road 7 years ago. But today, I don’t regret my decision as it changed my life.
    </div><br>
    <h3>(4).  What should I learn before joining the CDAC DAC course?</h3>
<div class="card">
    <div class="card-body" style="font-style: italic; color: blueviolet;">
        Practically to prepare for the course you need to have very strong understanding of OS concepts, C, C++, Object Oriented Concepts and Systems Administration. A little bit of Networking knowledge (more than basic) will help you understand the concepts like Java Servlets. Basic knowledge of Assembly Language will help you understand the how the Libraries of any programming language are constructed.
    </div><br>
    <h3>(5).  What is the duration of CDAC course?</h3>
    <div class="card">
        <div class="card-body" style="font-style: italic; color: blueviolet;">
            The duration of the whole course is 24 Weeks.
        </div><br>
        <h3 style="font-size: 40px; color: red;font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center;font-style: italic;">Didn't find what you are looking for???</h3>
        <br><br>
        <button (click)="toggle()" class="btn btn-primary btn-lg center-block " >Click Me to Load Enquiry Form</button> <br><br>
        
        <ng-container *ngIf="!isViewable">
                        <app-help></app-help>
         </ng-container>
         <!-- <input type="button" value="form generation" [routerLink]="['./help']" class="btn">
         <router-outlet></router-outlet> -->

         
          